<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnt6vD1k3Qh51wElUMZT46DS67E-XcELg</string>
	<key>GCM_SENDER_ID</key>
	<string>29623966317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sammilaniDelegate</string>
	<key>PROJECT_ID</key>
	<string>nsspuridelegate</string>
	<key>STORAGE_BUCKET</key>
	<string>nsspuridelegate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29623966317:ios:51e22916ad239651667d64</string>
</dict>
</plist>